* {
    background-color: none;
    color: white;
    border: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin: 0;
    padding: 0;
 }

img {
    background-color:none;
    object-fit: contain;
}

input[type=text] {
    width: 30rem;
    float: center;
    padding: .75rem 1rem;
    font-size: 1.5rem;
    color: black;
    border: none;
    outline: none;
}

button {
    background-color: #454141;
}

h2, p {
    padding: 0;
    margin: 0 0 0 0.5rem;
    color: #454141;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0 0 0 0.5rem;
    padding: 0;
}

form {
    padding: 2rem;
}

form div {
    margin-bottom: 1rem;
}

form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form .btn {
    margin-top: 2rem;
}

form input[type=text] {
    font-size: 1.5rem;
    width: auto;
}

form textarea {
    color: black;
    font-size: 1.5rem;
    margin: 1rem;
    width: 80%;
    height: 8rem;
}

form div .upload {
    border: 2px dashed #aaaaaa;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form div .upload div {
    font-size: 36px;
    margin-bottom: 10px;
    color: black;
}

font div .upload p {
    color: black;
}

.nav {
    background-color: #454141;
    padding: 1rem;
}

.nav img {
    height: 3rem;
}

.nav h1 {
    margin: auto 0;
}

.nav a {
    text-decoration: none;
}

.home-header {
    background-image: url('img/background_photo.png');
    background-size: cover;
    background-position: center;

    height: 30rem;
}

.footer {
    background-color: #454141;
    margin-top: 2rem;
    padding: 0;
}

.footer h1 {
    margin: 0 0 1rem 0.5rem;
}

.footer p {
    color: white;
}

.footer img {
    height: 8rem;
    margin: auto;
    margin-right: 10%;
}

.about {
    margin-left: 10%;
    margin-right: 10%;
    width: 40%;
}

.credits {
    width: 20%;
}

.btn {
    background-color: #C24D4D;
    color: white;
    border-radius: 4rem;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
}

.right {
    float: right;
    margin-left: auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1rem;
}

.head {
    padding-top: 10rem;
}

.head img {
    height: 4rem;
}

.search {
    float: center;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: white;
    margin: auto;
}

.search button {
    background-color: white;
}

.search button img {
    height: 2rem;
    margin-right: .5rem;
}

.col {
    flex-direction: column;
}

.dropbtn {
    color: #454141;
    padding: .75rem 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    width: 10rem;
  }
  
.dropdown {
    position: relative;
    margin: 0 0 0 1rem;
    display: inline-block;
}

.dropdown button {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 0 0 2rem 2rem;
    outline: 0.2rem solid #454141;
}

.dropdown-content button {
    color: #454141;
    padding: .75rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: left;
    width: 100%;
    display: block;
}

.dropdown-content button:last-child {
    border-radius: 0 0 2rem 2rem;
}

.dropdown-content button:hover {background-color: #c24d4dbb;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: #C24D4D;
    color: white;
    border-radius: 2rem 2rem 0 0;
}

.food {
    flex-wrap: wrap;
    padding: 0;
}

.food img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 0.5rem;

    border-radius: 1rem;
}

.card {
    flex: 0 0 20%;
    aspect-ratio: 1/1;
    margin: 2.5%;
    margin-bottom: 0;
    color: black;
    border-radius: 2rem;
}

.card-title {
    display: flex;
    box-sizing: border-box;
}

.card-title h2 {
    font-size: 1.5rem;
}

.grade {
    background-color: #9D9A9A;
    color: white;
    padding: 0 0.5rem;
    border-radius: 0.8rem;
    width: fit-content;
    height: fit-content;
}

.card-title .grade {
    color: white;
}

.review-header {
    background-color: #454141;
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 2rem;
}


.restaurant {
    margin: 0;
    padding: 0;
}

.restaurant img {
    width: 100%;
}

.title, .review {
    width: 100%;
}

.title {
    padding-left: 2rem;
    padding-right: 8rem;
    background-color: #6F6B6B;
}

.title h1 {
    font-weight: 400;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.title .grade {
    padding: 0 0.4em;
    border-radius: 2rem;
}

.detail {
    width: 50%;
}

.detail p, .rating p {
    color: white;
    font-size: 1.5rem;
}

.detail h2, .rating h2, .review-details h2{
    margin-left: 1rem;
    font-size: 2rem;
}

.detail p {
    background-color: #6F6B6B;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
    border-radius: 1rem;
    width: fit-content;
}

.rating {
    width: 50%;
    margin-bottom: 2rem;
}

.rating .col {
    margin-left: 2rem;
}

.rating h2 {
    margin-bottom: 1rem;
}

.rating .grade, .review-details .grade {
    background-color: #9D9A9A;
    padding: 0.25rem 0.5rem;
}

.review {
    height: 16rem;
    border-top: 2px solid #9D9A9A;
}

.review img {
    margin-left: 2rem;
    border-radius: 1rem;
}

.review-details h2 {
    font-weight: 300;
    margin-left: 0;
}

.review-details .grade {
    font-size: 1.5rem;
    margin-left: auto;
}

.review-details p {
    margin-left: 1rem;
}




@media (max-width: 780px) {
    .logo.left {
        display: none;
    }

    .nav img.right {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .nav .btn.right {
        display: none;
    }

   .btn.right.icon {
        display: flex;
        height: 3.3rem;
   }

   .btn.right.icon img {
        height: 1.5rem;
    }

    .head.col.box .logo {
        display: none;
    }

    .nav.box h1 {
        display: none;
    }

    .card {
        flex-basis: 90%;
        margin: 5%;
        margin-bottom: 0;
        aspect-ratio: 1.2/1;
    }

    .food img {
        height: 75%;
    }

    .home-header {
        height: 20rem;
    }

    .search.box {
        width: 100%;
    }
    
    .review.box {
        margin-bottom: 5rem;
    }

    img.center {
        float: center;
        margin: 0 4rem;
        width: 50%;
    }

    .dropdown {
        
    }
}

@media (min-width: 781px) and (max-width: 1316px) {
    .icon.left {
        display: none;
    }

    .nav img.right {
        display: none;
    }

    .nav .btn.right {
        display: flex;
    }

    .btn.right.icon {
        display: none;
    }

    .card {
        flex-basis: 45%;
    }

    .review-details {
        width: 50%;
    }
    
    img.center {
        display: none;
    }
}

@media (min-width: 1316px) {
    .icon.left {
        display: none;
    }

    .nav img.right {
        display: none;
    }

    img.center {
        display: none;
    }

    .nav img.right {
        display: none;
    }

    .btn.right.icon {
        display: none;
    }

    .head.col.box .icon {
        display: none;
    }

    .review-details {
        width: 70%;
    }
}